<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="container max-screen">
      <div class="brand">
        <h1>AT</h1>
      </div>
      <div class="nav-item">
        <ul>
          <li><a class="list-item" href="">Home</a></li>
          <li><a class="list-item" href="">Favorite</a></li>
          <li><a class="list-item" href="">About Us</a></li>
        </ul>
      </div>
      <button class="regular">
        <i class="fa-solid fa-bars"></i>
      </button>
    </nav>
  </header>
</body>
</html>
