<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet">
</head>
<body>
  <a href="#main" class="skip-link">Menuju ke konten</a>
  <header>
    <nav>
      <div class="brand">
        <span>AT</span>
      </div>
      <ul id="menu">
        <li><a href="">Beranda</a></li>
        <li><a href="">Favorit</a></li>
        <li><a href="">Tentang Kami</a></li>
      </ul>
      <button class="regular" id="toggle">
        <i class="fas fa-bars"></i>
      </button>
    </nav>
  </header>
  <main id="main">
    <section class="hero" id="hero">
      <div class="overlay"></div>
      <div class="headline">
        <h1>After Taste</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias non officia expedita labore consectetur vitae ea consequatur praesentium. Distinctio, dicta consequuntur. Ratione eligendi non eum autem officia quis neque vero nam placeat error beatae impedit sequi aut quos quam excepturi aspernatur, nostrum commodi, dolore harum quia? Tempora debitis nulla ipsam.</p>
        <button class="convert">Reservasi</button>
      </div>
    </section>
    <section class="find-us" id="find-us">
      <div class="container">
      </div>
      <div class="heading">
        <h2>Temukan Kami</h2>
      </div>
      <div class="grid-container" id="restaurant-container">
        
      </div>
    </section>
  </main>
  <footer>
    <div class="container">
      <div class="footer-logo">
        <span>After Taste</span>
      </div>
      <hr>
      <div class="copyright">
        <p>&copy; CopyRight. All rights reserved</p>
      </div>
    </div>
  </footer>
</body>
</html>
